@import url('../../../styles/common.less');

.search-input {
    display: inline-block;
    height: 30px;
    padding-left: 5px;
    line-height: 30px;
    vertical-align: middle;
    background-color: var(rgb(34 34 34));
    border: 1px solid var(--search-input-border-color);
    border-radius: 4px;
    .clearfix();

    i.icon-search {
        position: relative;
        float: left;
        padding-right: 5px;
        color: var(--search-input-icon-color);
    }

    input.search {
        display: inline-block;
        float: left;
        height: 30px;
        padding-left: 10px;
        margin: 0;
        font-size: 12px;
        color: var(--search-input-font-color);
        background-color: transparent;
        border-style: none;
        outline: 0;

        &::placeholder {
            color: var(--search-input-placeholder-color);
        }
    }

    &:hover {
        border-color: var(--search-input-border-hover-color);
    }

    &.focus {
        border-color: var(--search-input-border-focus-color);
    }
}
