@import url('./iconfont/iconfont.css');
@import url('./dark-mode.less');
@import url('./light-mode.less');

body {
    --main-font-size: 11px;
    --font-family: inter, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
        roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.clearfix {
    &::after {
        display: table;
        clear: both;
        content: '';
    }
}

.divider::after {
    display: flex;
    width: 100%;
    margin: 5px 0 10px;
    content: '';
    border-bottom: 1px solid #d9d9d9;
}

button:focus-visible {
    outline: 0;
}
