:root[theme='dark-mode'] {
    --expander-color: #8d8e9a;
    --indent-line-color: rgb(41 41 43);
    --title-color: rgb(242 242 242);
    --title-with-alias-color: #959eaa;
    --title-closed-color: rgb(130 133 140);
    --alias-closed-color: #a4a4a4;
    --splitter-color: #d1d5da;
    --title-active-bg-color: rgb(55 52 56);
    --title-tab-active-color: #3465f6;
    --title-with-alias-tab-active-color: #89a6fa;
    --title-submatch-color: #7a7a7a;
    --title-match-color: black;
    --title-mismatch-color: #d9d9d9;
    --header-bg-color: #18191b;
    --header-border-bottom-color: #3d3d3d;
    --footer-bg-color: rgb(31 32 34);
    --footer-border-top-color: rgb(31 32 34);
    --content-bg-color: #18191b;
    --title-hover-bg-color: rgb(41 39 42);
    // search input
    --search-input-bg-color: rgb(34 34 34);
    --search-input-border-color: #363636;
    --search-input-border-hover-color: #3f3f3f;
    --search-input-border-focus-color: #575757;
    --search-input-icon-color: rgb(130 133 140);
    --search-input-placeholder-color: rgb(130 133 140);
    --search-input-font-color: rgb(242 242 242);
}
