:root {
    --expander-color: #000;
    --indent-line-color: #d9d9d9;
    --title-color: #2a2d34;
    --title-with-alias-color: #81a3b0;
    --title-closed-color: gray;
    --alias-closed-color: #a4a4a4;
    --splitter-color: #d1d5da;
    --title-active-bg-color: #3465f6;
    --title-tab-active-color: #3465f6;
    --title-with-alias-tab-active-color: #89a6fa;
    --title-submatch-color: #7a7a7a;
    --title-match-color: black;
    --title-mismatch-color: #d9d9d9;
    --header-bg-color: rgb(242 244 245);
    --header-border-bottom-color: #fff;
    --footer-bg-color: rgb(242 244 245);
    --footer-border-top-color: #cecece;
    --content-bg-color: #000;
    --title-hover-bg-color: #fff;
}
