@import url('../../../styles/common.less');

.settings-container {
    //flex: 1;
    .settings-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        min-width: 30px;
        height: 30px;
        padding: 0;
        margin-right: 15px;
        line-height: 30px;
        color: var(--btn-icon-color);
        //vertical-align: center;
        text-align: center;
        //border-radius: 4px;
        cursor: pointer;
        background-color: var(--btn-bg-color);
        border: 1px solid var(--btn-border-color);

        &:focus-visible {
            outline: 0;
        }

        &:hover {
            color: var(--btn-font-color);
            background-color: var(--btn-hover-bg-color);
        }

        .iconfont {
            font-size: 16px;
            line-height: 1;
            color: inherit;
        }
    }
}

#header {
    .settings-container {
        flex: 0 0 auto;

        .settings-btn {
            margin-right: 0;
        }
    }
}

@media (max-width: 420px) {
    .settings-container {
        .settings-btn {
            margin-right: 10px;
        }
    }

    #header {
        .settings-container {
            .settings-btn {
                margin-right: 0;
            }
        }
    }
}

.settings-modal {
    .setting-section {
        margin-bottom: 20px;

        .settings-item-desc {
            margin-right: 10px;
            font-size: var(--control-font-size);
        }
    }

    .ant-select {
        &.ant-select-open {
            .ant-select-selector .ant-select-selection-item {
                color: var(--select-selection-item-color);
            }
        }

        .ant-select-selector {
            background-color: var(--select-bg-color);

            .ant-select-selection-item {
                color: var(--select-font-color);
            }
        }

        .ant-select-arrow {
            color: var(--select-font-color);
        }
    }

    .setting-head {
        margin-bottom: 10px;
        font-size: var(--control-font-size);
        color: var(--main-font-color);
    }

    .setting-item-btn {
        //width: 60px;
        height: 30px;
        font-size: var(--control-font-size);
    }

    .settings-item {
        margin-top: 10px;
        font-size: var(--main-font-size);
    }
}

.settings-select-popup.ant-select-dropdown {
    background-color: var(--select-bg-color);

    .ant-select-item {
        font-size: var(--control-font-size);
        color: var(--select-font-color);

        &:hover {
            background-color: var(--select-hover-bg-color);
        }

        &.ant-select-item-option-active {
            background-color: var(--select-hover-bg-color);
        }

        &.ant-select-item-option-selected {
            background-color: var(--select-selected-item-bg-color);
        }
    }
}
