@font-face {
    font-family: 'iconfont'; /* Project id 3889192 */
    src: url('iconfont.woff2?t=1680423893335') format('woff2'),
        url('iconfont.woff?t=1680423893335') format('woff'),
        url('iconfont.ttf?t=1680423893335') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pointer:before {
    content: '\e934';
}

.icon-node-multiple:before {
    content: '\e8ad';
}

.icon-layergroup-fill:before {
    content: '\e7b5';
}

.icon-keyboard:before {
    content: '\e68c';
}

.icon-md-locate:before {
    content: '\e6e3';
}

.icon-moon:before {
    content: '\e65c';
}

.icon-Sun:before {
    content: '\e65f';
}

.icon-Feedback:before {
    content: '\ea64';
}

.icon-arrow-right-:before {
    content: '\e82e';
}

.icon-arrow-right:before {
    content: '\e7bd';
}

.icon-copy:before {
    content: '\e639';
}

.icon-markdown:before {
    content: '\e6ff';
}

.icon-URLguanli:before {
    content: '\e6b7';
}

.icon-bottom:before {
    content: '\e666';
}

.icon-top:before {
    content: '\e681';
}

.icon-note:before {
    content: '\e653';
}

.icon-a-Parentchild-outlined:before {
    content: '\e70f';
}

.icon-export:before {
    content: '\e787';
}

.icon-import:before {
    content: '\e7a9';
}

.icon-settings:before {
    content: '\e630';
}

.icon-roundclosefill:before {
    content: '\e658';
}

.icon-trash:before {
    content: '\e648';
}

.icon-edit:before {
    content: '\e66a';
}

.icon-search:before {
    content: '\e6e1';
}

.icon-minus_square:before {
    content: '\e687';
}

.icon-plus_square:before {
    content: '\e722';
}
