@font-face {
    font-family: 'iconfont'; /* Project id 3889192 */
    src: url('iconfont.woff2?t=1677656750207') format('woff2'),
        url('iconfont.woff?t=1677656750207') format('woff'),
        url('iconfont.ttf?t=1677656750207') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
    content: '\e630';
}

.icon-roundclosefill:before {
    content: '\e658';
}

.icon-trash:before {
    content: '\e648';
}

.icon-edit:before {
    content: '\e66a';
}

.icon-search:before {
    content: '\e6e1';
}

.icon-minus_square:before {
    content: '\e687';
}

.icon-plus_square:before {
    content: '\e722';
}
